* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #c1c6c3;
  font-family: "Poppins", sans-serif;
  background-color: #FF8066;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /*  CSS Smooth Scroll */
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
   /* add the scroll snap below on section */
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /*  scroll snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

 
/* ====== Section Images ====== */

section#home {
  background: url('https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?cs=srgb&dl=pexels-andrew-neel-3178786.jpg&fm=jpg') no-repeat center center/cover;
}

section#home h1 {
  color: rgba(39, 15, 255, 0.927)
}


section#about {
  background: url('https://images.pexels.com/photos/3876433/pexels-photo-3876433.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876433.jpg&fm=jpg') no-repeat center center/cover;
}

section#about h1 {
  color: rgba(204, 18, 204, 0.927)
}

section#service {
  background: url('https://images.pexels.com/photos/34883/pexels-photo.jpg?cs=srgb&dl=pexels-donald-tong-34883.jpg&fm=jpg') no-repeat center center/cover;
}

section#service h1 {
  color: rgba(42, 240, 108, 0.927)
}

section#contact {
  background: url('https://images.pexels.com/photos/2360424/pexels-photo-2360424.jpeg?cs=srgb&dl=pexels-lisa-2360424.jpg&fm=jpg') no-repeat center center/cover;
}

section#contact h1 {
  color: rgba(252, 248, 10, 0.927)
}